<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Home</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="row">
      <div class="col-md-4">
        <mat-list style="margin-right: 20px;background-color:thistle;">
          <mat-list-item>
            <mat-icon mat-list-icon>people</mat-icon>
            <div mat-line>KHÁCH HÀNG</div>
            <div mat-line>200</div>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="col-md-4">
        <mat-list style="margin-right: 20px;background-color:thistle;">
          <mat-list-item>
            <mat-icon mat-list-icon>engineering</mat-icon>
            <div mat-line>ĐỐI TÁC</div>
            <div mat-line>200</div>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="col-md-4">
        <mat-list style="margin-right: 20px;background-color:thistle;">
          <mat-list-item>
            <mat-icon mat-list-icon>settings</mat-icon>
            <div mat-line>DỊCH VỤ</div>
            <div mat-line>200</div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>
