<app-header-trang-chu *ngIf="showHead"></app-header-trang-chu>

<router-outlet></router-outlet>

<div
  class="container-fluid"
  *ngIf="showHead"
  style="background-color: black; color: blanchedalmond"
>
  <div class="row">
    <div class="col-md-4">
      <h2>Liên hệ với chúng tôi</h2>
      <img src="../assets/image/logo-facebook.JPG" style="padding-right: 10px;">
      <img src="../assets/image/logo-github.JPG" style="padding-right: 10px;">
      <img src="../assets/image/logo-google.JPG" style="padding-right: 10px;">
      <img src="../assets/image/logo-camera.JPG" style="padding-right: 10px;">
    </div>
    <div class="col-md-4">
      <h2>Địa chỉ</h2>
      <p>
        Trường đại học công nghiệp thực phẩm thành phố Hồ Chí Minh, 140 Lê Trọng
        Tấn, P.Tây Thạnh, Q.Tân Phú
      </p>
    </div>
    <div class="col-md-4">
      <h2 style="padding-left: 37px;">Dịch vụ nổi bật</h2>
      <ul style="list-style-type: none;">
        <li>Dịch vụ điện tử, điện lạnh</li>
        <li>Dịch vụ đồ gỗ, điện nước</li>
        <li>Dịch vụ giúp việc, vệ sinh</li>
        <li>Dịch vụ máy tính camera</li>
      </ul>
    </div>
  </div>
  <br>
  <div class="row">
    <p style="padding-right: 30px;">Chính sách bảo mật</p>
    <p style="padding-right: 30px;">Điều khoản sử dụng</p>
    <p style="padding-right: 30px;">Quy chế hoạt động</p>
    <p style="padding-right: 30px;">Đối tác dịch vụ</p>
  </div>
  <div>
    <p style="text-align: center;"> Copyright © by Sonar Jsc,. Ứng dụng gọi thợ tin cậy.</p>
  </div>
</div>
